$primaryAccent: #313237;
$secondaryAccent: #89939a;
$iconsAccent: #b4bdc3;
$elementsAccent: #e2e6e9;
$hoverAndBgAccent: #e2e6e9;
$whiteAccent: #fff;
$redAccent: #eb5757;
$greenAccent: #27ae60;
$transitionDuration: 0.3s;
