@import '../../styles-utils/utils';

.CartCard {
  @include bg-and-border($borderColor: $elementsAccent);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  row-gap: 24px;

  padding: 12px 8px 12px 8px;

  @include on-tablet {
    padding-block: 24px;
  }

  &__link {
    text-decoration: none;
    color: $primaryAccent;
  }

  &__icon {
    color: $iconsAccent;
    font-size: 12.5px;

    transition: color $transitionDuration;
  }

  &__deleteBtn {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;

    @include bg-and-border($borderSize: 0);
    @include default-flex($align: center, $justify: center);

    width: 16px;
    height: 16px;

    @include on-hover-device {
      &:hover .CartCard__icon {
        color: $primaryAccent;
      }
    }

    @include on-no-hover-device {
      &:active .CartCard__icon {
        color: $primaryAccent;
      }
    }
  }

  &__imageBlock {
    grid-column: 2 / 6;
    grid-row: 1 / 2;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include default-flex($align: center, $justify: center);
    overflow: hidden;

    height: 80px;
    padding: 7px;

    @include on-hover-device {
      &:hover .CartCard__image {
        transform: scale(1.1);
      }
    }

    @include on-no-hover-device {
      &:active .CartCard__image {
        transform: scale(0.9);
      }
    }
  }

  &__image {
    @include img-full-center;
    transition: transform $transitionDuration;
  }

  &__name {
    grid-column: 6 / -1;
    grid-row: 1 / 2;

    @include on-tablet {
      grid-column: 4 / 8;
    }

    @include on-small-desktop {
      grid-column: 4 / 9;
    }

    @include body-text;

    @include on-hover-device {
      &:hover {
        text-decoration: underline;
      }
    }
    @include on-no-hover-device {
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__quantityBlock {
    grid-column: 2 / 6;
    grid-row: 2 / -1;

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include default-flex($align: center, $gap: 14px, $justify: center);
  }

  &__quantityBtn {
    @include icons-btn;

    &--disabled {
      pointer-events: none;
      color: $iconsAccent;
      border-color: $elementsAccent;
    }
  }

  &__quantityCount {
    @include body-text;
  }

  &__price {
    grid-column: 6 / -1;
    grid-row: 2 / -1;
    justify-self: center;

    @include on-tablet {
      grid-column: 9 / -1;
      grid-row: 1 / 2;
      justify-self: start;
    }
  }
}
