@import '../../styles-utils/utils';
.InfoLinks {
  &--footer {
    @include default-flex($align: center, $gap: 32px, $justify: center);

    @include on-tablet {
      gap: 64px;
    }
  }

  &--menu {
    @include default-flex($direction: column, $gap: 32px, $align: center);
    margin-top: 100px;
  }

  &--menu &__link {
    padding: 0;
  }

  &__link {
    @include uppercase-text;

    text-decoration: none;
    color: $secondaryAccent;

    padding: 43px 0 42px;

    transition: color $transitionDuration;

    @include on-hover-device {
      &:hover {
        color: $primaryAccent;
      }
    }

    @include on-no-hover-device {
      &:active {
        color: $primaryAccent;
      }
    }
  }
}
