@import '../../styles-utils/utils';

.CartInfo {
  @include default-grid-template;

  row-gap: 40px;

  margin-top: 24px;

  &__cartList {
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: span 8;
    }

    @include on-desktop {
      grid-column: span 16;
    }
  }

  &__cartActions {
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }
}
