@import '../../styles-utils/utils';

.ProductAbout {
  &__divider {
    @include divider;

    margin-top: 8px;

    @include on-desktop {
      margin-top: 16px;
    }
  }

  &__article {
    margin-top: 16px;
    @include on-desktop {
      margin-top: 32px;
    }
  }

  &__text {
    margin-top: 8px;
    @include on-desktop {
      margin-top: 16px;
    }
    @include body-text;
    color: $secondaryAccent;
  }
}
