@import '../../styles-utils/utils';

.Main {
  @include on-small-desktop {
    width: 90%;
    margin-inline: auto;
  }

  @include on-desktop {
    width: 80%;
  }

  &__homePage {
    margin-top: 20px;
    margin-bottom: 40px;

    @include on-small-desktop {
      margin-top: 40px;
      margin-bottom: 80px;
    }
  }

  &__productDetailsPage {
    margin-top: 24px;
    margin-bottom: 80px;

    margin-inline: 8px;

    @include on-tablet {
      margin-inline: 64px;
    }

    @include on-small-desktop {
      margin-inline: 0;
    }
  }

  &__phonesPage {
    margin-top: 24px;
    margin-bottom: 80px;
  }

  &__productPage {
    margin-top: 24px;
    margin-bottom: 80px;
    margin-inline: 24px;

    @include on-tablet {
      margin-inline: 64px;
    }

    @include on-small-desktop {
      margin-inline: 0;
    }
  }

  &__notFoundPage {
    margin-top: 80px;
  }

  &__hotPrices {
    margin-top: 40px;
    margin-inline: 24px;

    @include on-tablet {
      margin-inline: 64px;
    }

    @include on-small-desktop {
      margin-top: 72px;
      margin-inline: 0;
    }
  }

  &__categories {
    margin-top: 80px;
    margin-inline: 24px;

    @include on-tablet {
      margin-inline: 64px;
    }

    @include on-small-desktop {
      margin-inline: 0;
    }
  }

  &__newModels {
    margin-top: 80px;
    margin-inline: 24px;

    @include on-tablet {
      margin-inline: 64px;
    }
    @include on-small-desktop {
      margin-inline: 0;
    }
  }

  &__suggestedModels {
    margin-top: 80px;
  }

  &__backBtn {
    margin-bottom: 16px;
  }

  &__breadcrumbs {
    margin-bottom: 20px;
    @include on-tablet {
      margin-bottom: 40px;
    }
  }

  &__cartPage {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-inline: 24px;

    @include on-tablet {
      margin-inline: 64px;
    }

    @include on-small-desktop {
      margin-inline: 0;
    }
  }

  &__favoritesPage {
    margin-top: 24px;
    margin-bottom: 80px;
    margin-inline: 24px;

    @include on-tablet {
      margin-inline: 64px;
    }

    @include on-small-desktop {
      margin-inline: 0;
    }
  }

  &__noItemsBlock {
    @include default-flex(
      $align: center,
      $justify: center,
      $direction: column,
      $gap: 16px
    );
    text-align: center;

    margin-top: 80px;
  }

  &__text {
    @include body-text;

    color: $secondaryAccent;

    &--bold {
      font-weight: 700;
      color: $primaryAccent;
    }
  }

  &__heart {
    font-weight: 700;
    font-size: 12.5px;
    color: $primaryAccent;
  }
}
