@import '../../styles-utils/utils';

.Logo {
  @include default-flex($align: center);

  text-decoration: none;
  width: 64px;
  height: 64px;

  & img {
    @include img-full-center;
    transition: transform $transitionDuration;
  }

  @include on-hover-device {
    &:hover img {
      transform: scale(1.2);
    }
  }
  @include on-no-hover-device {
    &:active img {
      transform: scale(1.2);
    }
  }
}
