@import '../../styles-utils/utils';

.ProductsCatalog {
  &__count {
    @include body-text;

    @include on-small-desktop {
      margin-top: 8px;
    }

    color: $secondaryAccent;
  }

  &__search {
    width: 100%;
    margin-top: 24px;
  }

  &__options {
    display: flex;
    gap: 16px;

    margin-top: 24px;

    @include on-small-desktop {
      margin-top: 40px;
    }
  }

  &__optionsBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--sortBy {
      width: 60%;

      @include on-tablet {
        width: 30%;
      }
    }

    &--itemsOnPage {
      width: 40%;

      @include on-tablet {
        width: 20%;
      }
    }
  }

  &__optionLabel {
    @include small-text;

    color: $secondaryAccent;
  }

  &__list {
    margin-top: 40px;

    @include on-small-desktop {
      margin-top: 24px;
    }
  }

  &__pagination {
    margin-top: 40px;
  }
}
