@import '../../styles-utils/utils';

.CategoriesCard {
  text-decoration: none;
  color: $primaryAccent;

  &__image {
    position: absolute;
  }

  &__imgMask {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;

    @include on-small-desktop {
      height: 368px;
    }

    &--phones {
      background-color: #fcdbc1;

      & .CategoriesCard__image {
        width: 300px;
        right: -70px;

        @include on-small-desktop {
          width: 350px;
        }
      }
    }

    &--tablets {
      background-color: #8d8d92;

      & .CategoriesCard__image {
        width: 546px;
        right: -300px;

        @include on-small-desktop {
          right: -250px;
        }
      }
    }

    &--accessories {
      background-color: #973d5f;

      & .CategoriesCard__image {
        width: 570px;
        top: 40px;
        right: -350px;

        @include on-small-desktop {
          width: 750px;
          top: 30px;
          right: -450px;
        }
      }
    }
  }

  &__subtitle {
    margin-top: 12px;
    @include on-tablet {
      margin-top: 24px;
    }
  }

  &__count {
    @include body-text;

    margin-top: 4px;
  }
}
