@import '../../styles-utils/utils';

.Search {
  display: block;
  position: relative;
  width: 100%;

  @include on-desktop {
    width: 327px;
  }

  &__input {
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 17.89px;
    height: 64px;
    box-shadow: -1px 0 0 $hoverAndBgAccent;
    color: $primaryAccent;
    border: 1px solid $hoverAndBgAccent;
    background: $whiteAccent;
    border-radius: 0px;
    @include on-desktop {
      border: none;
    }

    transition: box-shadow $transitionDuration;

    @include on-hover-device {
      &:hover {
        box-shadow: -1px 0 0 $primaryAccent;
      }
    }

    @include on-no-hover-device {
      &:active {
        box-shadow: -1px 0 0 $secondaryAccent;
      }
    }

    &:focus {
      box-shadow: -1px 0 0 $secondaryAccent;
    }

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: $iconsAccent;
    }
  }

  &__icon {
    @include default-flex($align: center, $justify: center);

    position: absolute;
    right: 24px;
    top: 24px;
    width: 16px;
    height: 16px;
  }

  &__button {
    @include bg-and-border($borderSize: 0);
    @include default-flex($align: center, $justify: center);

    &--search {
      cursor: text;
    }
  }

  &__xmark {
    font-size: 12.5px;
    color: $primaryAccent;
  }
}
