@import '../../styles-utils/utils';

.ProductSelection {
  @include default-flex($direction: column, $gap: 12px);
  @include on-tablet {
    gap: 24px;
  }
  // @include on-desktop {
  //   gap: 24px;
  // }

  &__subhead {
    @include small-text;

    color: $secondaryAccent;
  }

  &__block {
    @include default-flex($direction: column, $gap: 8px);

    @include on-tablet {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    @include on-small-desktop {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__optionsBlock {
    @include default-flex($gap: 8px);
  }

  &__colorSelect {
    text-decoration: none;
    width: 32px;
    height: 32px;
    border: 1px solid $elementsAccent;
    border-radius: 50%;

    transition: border-color $transitionDuration;

    @include on-hover-device {
      &:hover {
        border-color: $primaryAccent;
      }
    }
    @include on-no-hover-device {
      &:active {
        border-color: $primaryAccent;
      }
    }

    &--active {
      border-color: $primaryAccent;
    }
  }

  &__color {
    border: 2px solid $whiteAccent;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    &--spacegray {
      background-color: #484848;
    }

    &--midnightgreen {
      background-color: #004953;
    }

    &--gold {
      background-color: #d4af37;
    }

    &--silver {
      background-color: #c0c0c0;
    }

    &--black {
      background-color: #000;
    }

    &--white {
      background-color: #fff;
    }

    &--rosegold {
      background-color: #b76e79;
    }

    &--green {
      background-color: #34c759;
    }

    &--yellow {
      background-color: #ffd301;
    }

    &--purple {
      background-color: #5856d6;
    }

    &--red {
      background-color: #ba0c2f;
    }

    &--coral {
      background-color: #ff5048;
    }
  }

  &__divider {
    @include divider;
  }

  &__capacitySelect {
    @include body-text;
    @include bg-and-border($borderColor: $iconsAccent);

    text-decoration: none;
    color: $primaryAccent;

    padding: 7px 8px 4px;

    transition: border-color $transitionDuration;

    @include on-hover-device {
      &:hover {
        border-color: $primaryAccent;
      }
    }
    @include on-no-hover-device {
      &:active {
        border-color: $primaryAccent;
      }
    }

    &--active {
      @include black-active-link;
    }
  }
}
